
body {
  font-family: Arial, sans-serif;
  background-image: url(/img/fondoprogram1.jpg);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
  
}


.login-container {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  text-align: center;
}


.login-container h2 {
  margin-bottom: 20px;
  color: whitesmoke;
}


.login-container label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-size: 14px;
}


.login-container input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
  background: #2a2a2a;
  color: #fff;
  font-size: 14px;
}

.login-container input:focus {
  border: 2px solid #39506B;
  background: #333;
}


.login-container button {
  width: 100%;
  padding: 12px;
  background: #0051A5;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #00a6c7;
  transform: scale(1.05);
}


.register-text {
  margin-top: 15px;
  font-size: 14px;
  color: #aaa;
}

.register-text a {
  color: #33a7be;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.register-text a:hover {
  color: #05cdf5;
  text-decoration: underline;
}



.login-container h2 {
  margin-bottom: 20px;
  color: #00ffae; 
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background: #1c2533;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #2e3f56;
  transform: scale(1.05);}